Repository microsoft/DirectXTK: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-Test.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXTK-GitHub.yml, .azuredevops/pipelines/DirectXTK-SDL.yml

Path conditions:
  .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/*.json, build/*.props, build/*.ps1, build/*.targets
  .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, Src/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, CMakeList.txt, build/*.in, build/*.cmake, build/SetupBWOI.*, Src/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml: any file but: *.md, LICENSE, CMake*, .github, .nuget, build/*.cmake, build/*.cmd, build/*.in, build/*.json, build/*.ps1
  .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/OneFuzz*.json, build/*.props, build/*.ps1, build/*.targets
  .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Test.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, CMake*, build/*.cmake, build/*.in, Inc\SimpleMath.*, Src\SimpleMath.*
  .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml, CMake*, build/*.cmake, build/*.in, Inc\SimpleMath.*, Src\SimpleMath.*
  .azuredevops/pipelines/DirectXTK-GitHub.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub.yml, Src/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTK-SDL.yml: any of: .azuredevops/pipelines/DirectXTK-SDL.yml

Add ADO inventory policy
  .azuredevops/policies/inventory-enablement.yml
  es-metadata.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

YAML lint
  es-metadata.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Improved VS 2026 support
  build/CompilerAndLinker.cmake
  build/downloadbuild.ps1
  build/promotenuget.ps1
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

Add VS 2026 slnx/vcxproj
  DirectXTK_Desktop_2026.slnx
  DirectXTK_Desktop_2026.vcxproj
  DirectXTK_Desktop_2026.vcxproj.filters
  XWBTool/xwbtool_Desktop_2026.vcxproj
  XWBTool/xwbtool_Desktop_2026.vcxproj.filters
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Add GHA for VS2026
  .github/linters/actionlint.yml
  .github/workflows/clangcl.yml
  .github/workflows/msbuild.yml
  .github/workflows/test.yml
  .github/workflows/win10.yml
Due: none

Trim redundant ADO pipelines
  .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTK-GitHub.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-Test.yml, .azuredevops/pipelines/DirectXTK-GitHub.yml

Fix GHA
  .github/workflows/win10.yml
Due: none

VS 2026 projects (#607)
  .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTK-GitHub.yml
  .github/linters/actionlint.yml
  .github/workflows/clangcl.yml
  .github/workflows/msbuild.yml
  .github/workflows/test.yml
  .github/workflows/win10.yml
  DirectXTK_Desktop_2026.slnx
  DirectXTK_Desktop_2026.vcxproj
  DirectXTK_Desktop_2026.vcxproj.filters
  XWBTool/xwbtool_Desktop_2026.vcxproj
  XWBTool/xwbtool_Desktop_2026.vcxproj.filters
  build/CompilerAndLinker.cmake
  build/downloadbuild.ps1
  build/promotenuget.ps1
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-Test.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXTK-GitHub.yml

Fix fxc path for non-Visual Studio builds
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

Fix fxc path for non-Visual Studio builds (#608)
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

CMake code review
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

CMake code review (#609)
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

Update CoPilot instructions
  .github/copilot-instructions.md
Due: none

Pick lint
  .github/copilot-instructions.md
Due: none

More content
  .github/copilot-instructions.md
Due: none

Update CoPilot instructions (#613)
  .github/copilot-instructions.md
Due: none

Add GDK x64+ARM64 projects
  DirectXTK_GDKW_2022.sln
  DirectXTK_GDKW_2022.vcxproj
  DirectXTK_GDKW_2022.vcxproj.filters
  DirectXTK_Windows10_2022.vcxproj
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Fix defines
  DirectXTK_GDKW_2022.vcxproj
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Targets fix
  DirectXTK_GDKW_2022.vcxproj
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Add GDKW to ADO
  .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Add testREpo
  .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Add GDK x64+ARM64 projects (#617)
  .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml
  DirectXTK_GDKW_2022.sln
  DirectXTK_GDKW_2022.vcxproj
  DirectXTK_GDKW_2022.vcxproj.filters
  DirectXTK_Windows10_2022.vcxproj
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Remove 2019 projects
  .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml
  .azuredevops/templates/DirectXTK-build-win32.yml
  .github/workflows/msbuild.yml
  .nuget/directxtk_desktop_2019.nuspec
  .nuget/directxtk_desktop_2019.targets
  DirectXTK_Desktop_2019.sln
  DirectXTK_Desktop_2019.vcxproj
  DirectXTK_Desktop_2019.vcxproj.filters
  DirectXTK_Desktop_2019_Win10.sln
  DirectXTK_Desktop_2019_Win10.vcxproj
  DirectXTK_Desktop_2019_Win10.vcxproj.filters
  DirectXTK_GDK_2019.sln
  DirectXTK_GDK_2019.vcxproj
  DirectXTK_GDK_2019.vcxproj.filters
  README.md
  XWBTool/xwbtool_Desktop_2019.vcxproj
  XWBTool/xwbtool_Desktop_2019.vcxproj.filters
  build/Directory.Build.props
  build/SetupBWOI.targets
  build/promotenuget.ps1
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

xwbtool updated to support feedback
  XWBTool/xwbtool.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Add feedback to MakeSpriteFont
  MakeSpriteFont/CommandLineParser.cs
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

SpriteFont updated with option to force pixel alignment
  Inc/SpriteFont.h
  Src/SpriteFont.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

SpriteFont updated with SetPixelAlignment method
  Inc/SpriteFont.h
  Src/SpriteFont.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

noexcept updates
  XWBTool/CmdLineHelpers.h
  XWBTool/xwbtool.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Remove 2019 projects (#618)
  .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml
  .azuredevops/templates/DirectXTK-build-win32.yml
  .github/workflows/msbuild.yml
  .nuget/directxtk_desktop_2019.nuspec
  .nuget/directxtk_desktop_2019.targets
  DirectXTK_Desktop_2019.sln
  DirectXTK_Desktop_2019.vcxproj
  DirectXTK_Desktop_2019.vcxproj.filters
  DirectXTK_Desktop_2019_Win10.sln
  DirectXTK_Desktop_2019_Win10.vcxproj
  DirectXTK_Desktop_2019_Win10.vcxproj.filters
  DirectXTK_GDK_2019.sln
  DirectXTK_GDK_2019.vcxproj
  DirectXTK_GDK_2019.vcxproj.filters
  README.md
  XWBTool/xwbtool_Desktop_2019.vcxproj
  XWBTool/xwbtool_Desktop_2019.vcxproj.filters
  build/Directory.Build.props
  build/SetupBWOI.targets
  build/promotenuget.ps1
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Command line tools updated to support feedback (#619)
  MakeSpriteFont/CommandLineParser.cs
  XWBTool/CmdLineHelpers.h
  XWBTool/xwbtool.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

SpriteFont updated with option to force pixel alignment (#620)
  Inc/SpriteFont.h
  Src/SpriteFont.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

March 31, 2026
  .nuget/directxtk_desktop_win10.nuspec
  .nuget/directxtk_uwp.nuspec
  CHANGELOG.md
  CMakeLists.txt
  README.md
  SECURITY.md
  build/preparerelease.ps1
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

March 31, 2026 (#621)
  .nuget/directxtk_desktop_win10.nuspec
  .nuget/directxtk_uwp.nuspec
  CHANGELOG.md
  CMakeLists.txt
  README.md
  SECURITY.md
  build/preparerelease.ps1
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

Update copilot instructions
  .github/copilot-instructions.md
Due: none

Add overflow check to XWB reader
  Audio/WaveBankReader.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Add max alignment check
  Audio/WaveBankReader.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Update project to use arm64 FXC on arm64 native
  .github/workflows/msbuild.yml
  DirectXTK_Desktop_2022_Win10.vcxproj
  DirectXTK_Desktop_2026.vcxproj
  DirectXTK_GDKW_2022.vcxproj
  DirectXTK_Windows10_2022.vcxproj
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Revert vcxproj chagnes
  DirectXTK_Desktop_2022_Win10.vcxproj
  DirectXTK_Desktop_2026.vcxproj
  DirectXTK_GDKW_2022.vcxproj
  DirectXTK_Windows10_2022.vcxproj
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml
