Repository microsoft/DirectXTK: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-Test.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXTK-GitHub.yml, .azuredevops/pipelines/DirectXTK-SDL.yml

Path conditions:
  .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/*.json, build/*.props, build/*.ps1, build/*.targets
  .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, Src/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, CMakeList.txt, build/*.in, build/*.cmake, build/SetupBWOI.*, Src/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml: any file but: *.md, LICENSE, CMake*, .github, .nuget, build/*.cmake, build/*.cmd, build/*.in, build/*.json, build/*.ps1
  .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/OneFuzz*.json, build/*.props, build/*.ps1, build/*.targets
  .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Test.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, CMake*, build/*.cmake, build/*.in, Inc\SimpleMath.*, Src\SimpleMath.*
  .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml, CMake*, build/*.cmake, build/*.in, Inc\SimpleMath.*, Src\SimpleMath.*
  .azuredevops/pipelines/DirectXTK-GitHub.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub.yml, Src/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTK-SDL.yml: any of: .azuredevops/pipelines/DirectXTK-SDL.yml

Avoid using x86 HLSL compiler
  Src/Shaders/CompileShaders.cmd
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub.yml

Force correct arch for MSBuild
  .github/workflows/msbuild.yml
Due: none

Added guard for 32-bit overflow in spritefont reading
  Src/BinaryReader.h
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Update copilot instructions
  .github/copilot-instructions.md
Due: none

markdown lint
  .github/copilot-instructions.md
Due: none

Add extra validation to spritefont loader
  Src/SpriteFont.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Add MakeSpriteFont to CMake build
  .github/workflows/main.yml
  CMakeLists.txt
  CMakePresets.json
  MakeSpriteFont/CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

Code review
  .github/workflows/main.yml
  CMakeLists.txt
  CMakePresets.json
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

CoPilot instruction improvements
  .github/copilot-instructions.md
  README.md
Due: none

Update GHA to ignore copilot instructions
  .github/workflows/arm64.yml
  .github/workflows/arm64bvt.yml
  .github/workflows/bvt.yml
  .github/workflows/clangcl.yml
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/msbuild.yml
  .github/workflows/msvc.yml
  .github/workflows/test.yml
  .github/workflows/uwp.yml
  .github/workflows/vcpkg.yml
  .github/workflows/win10.yml
Due: none

Copilot review
  .github/copilot-instructions.md
Due: none

CMake update for v4.1 change
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

CoPilot code review feedback
  Audio/WaveBankReader.cpp
  Src/BinaryReader.h
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Also fix MinGW issue
  Src/BinaryReader.h
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

More CMake code review
  CMakeLists.txt
  CMakePresets.json
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

CoPilot review recommendations
  CMakeLists.txt
  build/JoinPaths.cmake
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

Want directxmath usage public for mingw
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

Remove classic compiler override for C++14
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

One more edit
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

Mouse::SetDpi was missing from DLL version
  Inc/Mouse.h
  Inc/XboxDDSTextureLoader.h
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

May 2026
  .nuget/directxtk_desktop_win10.nuspec
  .nuget/directxtk_uwp.nuspec
  CHANGELOG.md
  CMakeLists.txt
  README.md
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

Minor code review feedback
  Src/DDS.h
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Add complete release
  Inc/Keyboard.h
  Inc/Mouse.h
  build/completerelease.ps1
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Add vcpkg update
  build/updatevcpkg.ps1
Due: none

Code review
  build/updatevcpkg.ps1
Due: none

Pick powershell lint
  .github/linters/.powershell-psscriptanalyzer.psd1
  build/completerelease.ps1
Due: none

Add updatedate winget
  .github/copilot-instructions.md
  build/updatewinget.ps1
Due: none

Updates
  .github/copilot-instructions.md
  build/updatewinget.ps1
Due: none

Pick markdown lint
  .github/copilot-instructions.md
Due: none

Updates
  .github/copilot-instructions.md
Due: none

Pick lint
  .github/copilot-instructions.md
Due: none

Fix typo
  .github/copilot-instructions.md
Due: none

COde review
  build/preparerelease.ps1
Due: none

COde review
  build/promotenuget.ps1
Due: none

Update CMake BULID_SHARED_LIBS=ON linker settings
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

Cmake update
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

Add policy file
  .azuredevops/policies/branchClassification.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Pick yaml lint
  .azuredevops/policies/branchClassification.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Update GDK pipline for new layout NuGet packages
  .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml
  build/Directory.Build.props
  build/LogInfo.targets
  build/RestoreGDK.proj
  build/RestoreGDK.ps1
  build/SetupBWOI.cmd
  build/SetupBWOI.targets
  build/gdkedition.props
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml
