Repository microsoft/DirectXTK: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub.yml

Path conditions:
  .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, Src/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml: any file but: *.md, LICENSE, CMake*, .github, .nuget, build/*.cmake, build/*.cmd, build/*.in, build/*.json, build/*.ps1
  .azuredevops/pipelines/DirectXTK-GitHub.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub.yml, Src/Shaders/CompileShaders.cmd

Syntax fix
  .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Test.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Added missing var
  .azuredevops/pipelines/DirectXTK-GitHub-Test.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

const bool
  Src/Keyboard.cpp
  Src/Mouse.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Update ADL YAML to use shared variables (#554)
  .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml
  .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml
  .azuredevops/pipelines/DirectXTK-GitHub-SDK-prerelease.yml
  .azuredevops/pipelines/DirectXTK-GitHub-SDK-release.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTK-GitHub.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub.yml

Change the way GameInput callbacks are handled for mouse/keyboard (#553)
  Src/Keyboard.cpp
  Src/Mouse.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Add more OneFuzz pipelines
  .azuredevops/pipelines/DirectXTK-OneFuzz-Audio.yml
  .azuredevops/pipelines/DirectXTK-OneFuzz-Meshes.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Code review
  .azuredevops/pipelines/DirectXTK-OneFuzz-Meshes.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Add more OneFuzz pipelines (#557)
  .azuredevops/pipelines/DirectXTK-OneFuzz-Audio.yml
  .azuredevops/pipelines/DirectXTK-OneFuzz-Meshes.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Add bounds checking to CMO reader
  Src/ModelLoadCMO.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Add overflow checking to SDKMESH reader
  Src/ModelLoadSDKMESH.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Code review feedback
  Src/ModelLoadCMO.cpp
  Src/ModelLoadSDKMESH.cpp
  Src/ModelLoadVBO.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Enable some additional C++20 and C++23 compat warnings with clang
  build/CompilerAndLinker.cmake
Due: none

Add more bounds checking to CMO and SDKMESH readers (#558)
  Src/ModelLoadCMO.cpp
  Src/ModelLoadSDKMESH.cpp
  Src/ModelLoadVBO.cpp
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

GHA should ignore everything under .azuredevops
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/msbuild.yml
  .github/workflows/msvc.yml
  .github/workflows/test.yml
  .github/workflows/uwp.yml
  .github/workflows/vcpkg.yml
  .github/workflows/win10.yml
Due: none

ADO should ignore everything under .github
  .azuredevops/pipelines/DirectXTK-GitHub-CMake-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml
  .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Convert to stragety
  .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub.yml

Fix syntax
  .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub.yml

fix build break
  .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

More use of stragety
  .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Test.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Convert SDK to templates
  .azuredevops/pipelines/DirectXTK-GitHub-SDK-prerelease.yml
  .azuredevops/pipelines/DirectXTK-GitHub-SDK-release.yml
  .azuredevops/templates/DirectXTK-build-uwp-arm64.yml
  .azuredevops/templates/DirectXTK-build-uwp.yml
  .azuredevops/templates/DirectXTK-build-win32.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Cleanup of ADO pipeline YAML files (#559)
  .azuredevops/pipelines/DirectXTK-GitHub-CMake-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml
  .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml
  .azuredevops/pipelines/DirectXTK-GitHub-SDK-prerelease.yml
  .azuredevops/pipelines/DirectXTK-GitHub-SDK-release.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTK-GitHub.yml
  .azuredevops/templates/DirectXTK-build-uwp-arm64.yml
  .azuredevops/templates/DirectXTK-build-uwp.yml
  .azuredevops/templates/DirectXTK-build-win32.yml
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/msbuild.yml
  .github/workflows/msvc.yml
  .github/workflows/test.yml
  .github/workflows/uwp.yml
  .github/workflows/vcpkg.yml
  .github/workflows/win10.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub.yml

Add GitHub Action for BVTs with subset of tests
  .github/workflows/bvt.yml
Due: none

Update readme
  README.md
Due: none

Add GitHub Action for BVTs with subset of tests (#560)
  .github/workflows/bvt.yml
  README.md
Due: none

Update CMO and vbo headers
  Src/CMO.h
  Src/ModelLoadCMO.cpp
  Src/ModelLoadVBO.cpp
  Src/vbo.h
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Update CMO and vbo headers (#561)
  Src/CMO.h
  Src/ModelLoadCMO.cpp
  Src/ModelLoadVBO.cpp
  Src/vbo.h
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

GitHub Actions windows-2019 runner is being retired
  .github/workflows/bvt.yml
  .github/workflows/main.yml
  .github/workflows/test.yml
  .github/workflows/vcpkg.yml
  .github/workflows/win10.yml
Due: none

GitHub Actions windows-2019 runner is being retired (#562)
  .github/workflows/bvt.yml
  .github/workflows/main.yml
  .github/workflows/test.yml
  .github/workflows/vcpkg.yml
  .github/workflows/win10.yml
Due: none

Add GitHub Action for super-lint
  .github/linters/.editorconfig-checker.json
  .github/linters/.markdown-lint.yml
  .github/linters/.yaml-lint.yml
  .github/workflows/lint.yml
Due: none

Missed msbuild.yml in #562
  .github/workflows/msbuild.yml
Due: none

YAML lint
  .azuredevops/pipelines/DirectXTK-GitHub-CMake-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml
  .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml
  .azuredevops/pipelines/DirectXTK-GitHub-SDK-prerelease.yml
  .azuredevops/pipelines/DirectXTK-GitHub-SDK-release.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml
  .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml
  .azuredevops/pipelines/DirectXTK-GitHub.yml
  .azuredevops/pipelines/DirectXTK-OneFuzz-Audio.yml
  .azuredevops/pipelines/DirectXTK-OneFuzz-Coverage.yml
  .azuredevops/pipelines/DirectXTK-OneFuzz-Meshes.yml
  .azuredevops/pipelines/DirectXTK-OneFuzz.yml
  .azuredevops/pipelines/DirectXTK-SDL.yml
  .azuredevops/policies/approvercountpolicy.yml
  .azuredevops/templates/DirectXTK-build-uwp-arm64.yml
  .azuredevops/templates/DirectXTK-build-uwp.yml
  .azuredevops/templates/DirectXTK-build-win32.yml
  .github/workflows/bvt.yml
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/msvc.yml
  .github/workflows/test.yml
  .github/workflows/uwp.yml
  .github/workflows/vcpkg.yml
  .github/workflows/win10.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub.yml

Fix break
  .github/workflows/msbuild.yml
Due: none

Code review
  .github/workflows/lint.yml
Due: none

Markdown lint
  CHANGELOG.md
  README.md
  SECURITY.md
Due: none

Clean up lint
  CHANGELOG.md
  Inc/Model.h
  README.md
  Src/CMO.h
  Src/DDS.h
  Src/Geometry.cpp
  Src/Shaders/DGSLLambert.hlsl
  Src/Shaders/DGSLPhong.hlsl
  Src/Shaders/DGSLUnlit.hlsl
  Src/Shaders/PBRCommon.fxh
  Src/Shaders/PixelPacking_Velocity.hlsli
  Src/Shaders/Utilities.fxh
  Src/SimpleMath.cpp
  Src/ToneMapPostProcess.cpp
  XWBTool/xwbtool.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Final lint
  CHANGELOG.md
Due: none

Revert
  .gitattributes
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml
