Repository microsoft/DirectXTK: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-Test.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXTK-GitHub.yml, .azuredevops/pipelines/DirectXTK-SDL.yml

.azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml:
  schedules:
  - cron: 0 2 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: DESKTOP_BUILD
    displayName: Windows Desktop
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    strategy:
  ...

.azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml:
  schedules:
  - cron: 30 5 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: BUILD_GDK
    displayName: Microsoft Game Development Kit (GDK)
    timeoutInMinutes: 120
  ...

.azuredevops/pipelines/DirectXTK-GitHub-GDK.yml:
  schedules:
  - cron: 30 5 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2019
  jobs:
  - job: BUILD_GDK
    displayName: Microsoft Game Development Kit (GDK)
    timeoutInMinutes: 120
  ...

.azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml:
  schedules:
  - cron: 30 2 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: DESKTOP_BUILD
    displayName: Windows Desktop
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 1
    workspace:
  ...

.azuredevops/pipelines/DirectXTK-GitHub-Test.yml:
  schedules:
  - cron: 30 2 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2019
  jobs:
  - job: DESKTOP_BUILD
    displayName: Windows Desktop
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    workspace:
  ...

.azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml:
  schedules:
  - cron: 30 3 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: ubuntu-24.04
  jobs:
  - job: BUILD_SIMPLEMATH
    displayName: SimpleMath
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    steps:
  ...

.azuredevops/pipelines/DirectXTK-GitHub.yml:
  schedules:
  - cron: 0 2 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2019
  jobs:
  - job: DESKTOP_BUILD
    displayName: Win32 Desktop
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    steps:
  ...

.azuredevops/pipelines/DirectXTK-SDL.yml:
  schedules:
  - cron: 0 3 * * 0,3,5
    displayName: Three times a week
    branches:
      include:
      - main
    always: true
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: SDL_BUILD
    displayName: Build using required SDL tools
    workspace:
      clean: all
  ...

Update yaml lint
  .github/linters/.yaml-lint.yml
Due: none

Try lint of C#
  .github/workflows/lint.yml
Due: none

Rran dotnet format whitespace
  MakeSpriteFont/BitmapUtils.cs
  MakeSpriteFont/CharacterRegion.cs
  MakeSpriteFont/CommandLineParser.cs
  MakeSpriteFont/Glyph.cs
  MakeSpriteFont/GlyphPacker.cs
  MakeSpriteFont/Program.cs
  MakeSpriteFont/SpriteFontWriter.cs
  MakeSpriteFont/TrueTypeImporter.cs
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Resolve powershell lint
  .github/linters/.powershell-psscriptanalyzer.psd1
  build/onefuzz-setup.ps1
Due: none

Final powershelll int
  build/onefuzz-setup.ps1
Due: none

Add YML to editorconfig
  .editorconfig
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Add a few more seed files to audio fuzzing
  .azuredevops/pipelines/DirectXTK-OneFuzz-Audio.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Adds .wav with smpl
  .azuredevops/pipelines/DirectXTK-OneFuzz-Audio.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

CodeQL suppression syntax fix
  Audio/SoundCommon.cpp
  Audio/WaveBankReader.cpp
  Src/ModelLoadCMO.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

CodeQL suppression syntax fix (#567)
  Audio/SoundCommon.cpp
  Audio/WaveBankReader.cpp
  Src/ModelLoadCMO.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

A few more seed files for onefuzz of wav & xwb format (#565)
  .azuredevops/pipelines/DirectXTK-OneFuzz-Audio.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Initial skeleton for GLTF support
  CMakeLists.txt
  Inc/Model.h
  Src/ModelLoadGLTF.cpp
  build/vcpkg.json
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

GameInput implementation updates for for GAMEINPUT_API_VERSION = 2
  Inc/GamePad.h
  Src/GamePad.cpp
  Src/Keyboard.cpp
  Src/Mouse.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

GameInput implementation updates for for GAMEINPUT_API_VERSION = 2 (#570)
  Inc/GamePad.h
  Src/GamePad.cpp
  Src/Keyboard.cpp
  Src/Mouse.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

July 2, 2025
  .nuget/directxtk_desktop_2019.nuspec
  .nuget/directxtk_desktop_win10.nuspec
  .nuget/directxtk_uwp.nuspec
  CHANGELOG.md
  CMakeLists.txt
  README.md
  build/preparerelease.ps1
Due: .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

July 9, 2025 (#571)
  .nuget/directxtk_desktop_2019.nuspec
  .nuget/directxtk_desktop_win10.nuspec
  .nuget/directxtk_uwp.nuspec
  CHANGELOG.md
  CMakeLists.txt
  README.md
  build/preparerelease.ps1
Due: .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

GitHub Actions using Windows on ARM64 native
  .github/linters/actionlint.yml
  .github/workflows/arm64.yml
  .github/workflows/arm64bvt.yml
Due: none

Add Spectre-mitigated libraries to the NuGet
  .nuget/directxtk_desktop_2019.nuspec
  .nuget/directxtk_desktop_2019.targets
  .nuget/directxtk_desktop_win10.nuspec
  .nuget/directxtk_desktop_win10.targets
  DirectXTK_Desktop_2019.vcxproj
  DirectXTK_Desktop_2019_Win10.vcxproj
  DirectXTK_Desktop_2022.vcxproj
  DirectXTK_Desktop_2022_Win10.vcxproj
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Update GDK pipelines for latest package name
  .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml
  build/RestoreGDK.proj
  build/RestoreGDK.ps1
  build/SetupBWOI.cmd
  build/gdkedition.props
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

windows-2019 image being retired for ADO
  .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTK-GitHub.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-Test.yml, .azuredevops/pipelines/DirectXTK-GitHub.yml

Build pipelien fix
  .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml
  build/RestoreGDK.ps1
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Debug test
  build/RestoreGDK.ps1
Due: none

Clean again
  build/RestoreGDK.ps1
Due: none

Added CoPilot instructions
  .github/copilot-instructions.md
Due: none

Copilot CR
  .github/copilot-instructions.md
Due: none

More CR
  .github/copilot-instructions.md
Due: none

Markdown lint
  .github/copilot-instructions.md
Due: none

GHA and ADO pipeline updates (#572)
  .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTK-GitHub.yml
  .github/copilot-instructions.md
  .github/linters/actionlint.yml
  .github/workflows/arm64.yml
  .github/workflows/arm64bvt.yml
  build/RestoreGDK.proj
  build/RestoreGDK.ps1
  build/SetupBWOI.cmd
  build/gdkedition.props
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-Test.yml, .azuredevops/pipelines/DirectXTK-GitHub.yml

Add Spectre-mitigated libraries to the NuGet (#573)
  .nuget/directxtk_desktop_2019.nuspec
  .nuget/directxtk_desktop_2019.targets
  .nuget/directxtk_desktop_win10.nuspec
  .nuget/directxtk_desktop_win10.targets
  DirectXTK_Desktop_2019.vcxproj
  DirectXTK_Desktop_2019_Win10.vcxproj
  DirectXTK_Desktop_2022.vcxproj
  DirectXTK_Desktop_2022_Win10.vcxproj
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Fix linter warning
  README.md
Due: none

CMake updates
  CMakeLists.txt
  Src/pch.h
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

CMake updates (#576)
  CMakeLists.txt
  Src/pch.h
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

Update CoPilot instructions
  .github/copilot-instructions.md
  .gitignore
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

windows-2022 removed 10.0.22000.0
  .azuredevops/pipelines/DirectXTK-GitHub-CMake-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml
  .azuredevops/pipelines/DirectXTK-OneFuzz-Audio.yml
  .azuredevops/pipelines/DirectXTK-OneFuzz-Meshes.yml
  .azuredevops/pipelines/DirectXTK-OneFuzz.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

noexcept feedback for Audio
  Audio/SoundCommon.cpp
  Inc/Audio.h
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

noexcept CR
  Inc/Keyboard.h
  Src/Keyboard.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Path conditions:
  .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, Src/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, CMakeList.txt, build/*.in, build/*.cmake, build/SetupBWOI.*, Src/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml: any file but: *.md, LICENSE, CMake*, .github, .nuget, build/*.cmake, build/*.cmd, build/*.in, build/*.json, build/*.ps1
  .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Test.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml, CMake*, build/*.cmake, build/*.in, Inc\SimpleMath.*, Src\SimpleMath.*
  .azuredevops/pipelines/DirectXTK-GitHub.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub.yml, Src/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTK-SDL.yml: any of: .azuredevops/pipelines/DirectXTK-SDL.yml
