Repository microsoft/DirectXTK: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-Test.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXTK-GitHub.yml, .azuredevops/pipelines/DirectXTK-SDL.yml

.azuredevops/pipelines/DirectXTK-GitHub-CMake.yml:
  schedules:
  - cron: 0 4 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: CMAKE_BUILD
    displayName: CMake using VS Generator
    steps:
    - checkout: self
      clean: true
  ...

.azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml:
  schedules:
  - cron: 0 2 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: DESKTOP_BUILD
    displayName: Windows Desktop
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    strategy:
  ...

.azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml:
  schedules:
  - cron: 30 5 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: BUILD_GDK
    displayName: Microsoft Game Development Kit (GDK)
    timeoutInMinutes: 120
  ...

.azuredevops/pipelines/DirectXTK-GitHub-GDK.yml:
  schedules:
  - cron: 30 5 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2019
  jobs:
  - job: BUILD_GDK
    displayName: Microsoft Game Development Kit (GDK)
    timeoutInMinutes: 120
  ...

.azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml:
  schedules:
  - cron: 0 3 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: MINGW32_BUILD
    displayName: Minimalist GNU for Windows (MinGW32)
    timeoutInMinutes: 30
    steps:
  ...

.azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml:
  schedules:
  - cron: 30 2 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: DESKTOP_BUILD
    displayName: Windows Desktop
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 1
    workspace:
  ...

.azuredevops/pipelines/DirectXTK-GitHub-Test.yml:
  schedules:
  - cron: 30 2 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: DESKTOP_BUILD
    displayName: Windows Desktop
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    workspace:
  ...

.azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml:
  schedules:
  - cron: 30 3 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: ubuntu-22.04
  jobs:
  - job: BUILD_SIMPLEMATH
    displayName: SimpleMath
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    steps:
  ...

Validate seek table bounds in WaveBankReader (#668)
  Audio/WaveBankReader.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Enable use of clang-format
  .clang-format-ignore
  .github/linters/.clang-format
  .github/workflows/lint.yml
  Src/Geometry.cpp
  build/Format.ps1
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Keep some formatting
  Src/WICTextureLoader.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Use matching clang-format
  .github/workflows/lint.yml
Due: none

Fix syntax
  .github/workflows/lint.yml
Due: none

Try to map to older version
  .github/workflows/lint.yml
Due: none

try another appraoch
  .github/workflows/lint.yml
Due: none

Have to use clang-format 21.1.2. locally
  .github/workflows/lint.yml
  Audio/SoundCommon.h
  Inc/Audio.h
  Inc/Effects.h
  Inc/GamePad.h
  Inc/GeometricPrimitive.h
  Inc/Model.h
  Inc/Mouse.h
  Inc/PostProcess.h
  Inc/ScreenGrab.h
  Inc/SimpleMath.h
  Inc/SpriteBatch.h
  Inc/SpriteFont.h
  Inc/VertexTypes.h
  Src/DDSTextureLoader.cpp
  Src/ScreenGrab.cpp
  Src/WICTextureLoader.cpp
  Src/pch.h
  build/Format.ps1
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Update script
  build/Format.ps1
Due: none

Editorconfig intenting too strict for clang-format
  .github/linters/.editorconfig-checker.json
Due: none

Preserve some formatting
  XWBTool/xwbtool.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Add missing inl files
  Inc/SimpleMath.inl
  build/Format.ps1
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Workaround for some mingw issues
  .github/workflows/mingw.yml
Due: none

Update readme
  README.md
Due: none

Script update
  build/Format.ps1
Due: none

Normalize path seperator for #include statements
  Inc/BufferHelpers.h
  Inc/Model.h
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Fix for ADO pipeline
  .azuredevops/pipelines/DirectXTK-SDL.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-SDL.yml

Fix for ADO pipeline (#675)
  .azuredevops/pipelines/DirectXTK-SDL.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-SDL.yml

Remove failing cases due to GHA image changes
  .github/workflows/msbuild.yml
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

Remove failing cases due to GHA image changes (#679)
  .github/workflows/msbuild.yml
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

GHA update for in-use handling
  .github/workflows/arm64.yml
  .github/workflows/clangcl.yml
  .github/workflows/main.yml
  .github/workflows/test.yml
  .github/workflows/uwp.yml
  .github/workflows/win10.yml
  build/PurgeFolder.ps1
Due: none

Path conditions:
  .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/*.json, build/*.props, build/*.ps1, build/*.targets
  .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, Src/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, CMakeList.txt, build/*.in, build/*.cmake, build/SetupBWOI.*, Src/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml: any file but: *.md, LICENSE, CMake*, .github, .nuget, build/*.cmake, build/*.cmd, build/*.in, build/*.json, build/*.ps1
  .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/OneFuzz*.json, build/*.props, build/*.ps1, build/*.targets
  .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Test.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, CMake*, build/*.cmake, build/*.in, Inc\SimpleMath.*, Src\SimpleMath.*
  .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml, CMake*, build/*.cmake, build/*.in, Inc\SimpleMath.*, Src\SimpleMath.*
  .azuredevops/pipelines/DirectXTK-GitHub.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub.yml, Src/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTK-SDL.yml: any of: .azuredevops/pipelines/DirectXTK-SDL.yml
