Repository microsoft/DirectXTK: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-Test.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXTK-GitHub.yml, .azuredevops/pipelines/DirectXTK-SDL.yml

.azuredevops/pipelines/DirectXTK-GitHub-CMake.yml:
  schedules:
  - cron: 0 4 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: CMAKE_BUILD
    displayName: CMake using VS Generator
    steps:
    - checkout: self
      clean: true
  ...

.azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml:
  schedules:
  - cron: 0 2 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: DESKTOP_BUILD
    displayName: Windows Desktop
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    strategy:
  ...

.azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml:
  schedules:
  - cron: 30 5 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: BUILD_GDK
    displayName: Microsoft Game Development Kit (GDK)
    timeoutInMinutes: 120
  ...

.azuredevops/pipelines/DirectXTK-GitHub-GDK.yml:
  schedules:
  - cron: 30 5 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2019
  jobs:
  - job: BUILD_GDK
    displayName: Microsoft Game Development Kit (GDK)
    timeoutInMinutes: 120
  ...

.azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml:
  schedules:
  - cron: 0 3 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: MINGW32_BUILD
    displayName: Minimalist GNU for Windows (MinGW32)
    timeoutInMinutes: 30
    steps:
  ...

.azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml:
  schedules:
  - cron: 30 2 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: DESKTOP_BUILD
    displayName: Windows Desktop
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 1
    workspace:
  ...

.azuredevops/pipelines/DirectXTK-GitHub-Test.yml:
  schedules:
  - cron: 30 2 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: DESKTOP_BUILD
    displayName: Windows Desktop
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    workspace:
  ...

.azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml:
  schedules:
  - cron: 30 3 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: ubuntu-22.04
  jobs:
  - job: BUILD_SIMPLEMATH
    displayName: SimpleMath
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    steps:
  ...

Update for Gaming.Desktop.x64 deprecation
  .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Update GHA
  .github/workflows/codeql.yml
  .github/workflows/msvc.yml
Due: none

only doing analysis on desktop not uwp codepaths
  .github/workflows/codeql.yml
  .github/workflows/msvc.yml
Due: none

walbourn
  .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml
  .github/workflows/codeql.yml
  .github/workflows/msvc.yml
  build/Directory.Build.props
  build/LogInfo.targets
  build/RestoreGDK.proj
  build/RestoreGDK.ps1
  build/SetupBWOI.cmd
  build/SetupBWOI.targets
  build/gdkedition.props
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Convert release instructions to CoPilot skill
  .github/copilot-instructions.md
  .github/skills/release/SKILL.md
  .gitignore
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Pick markdown lint
  .github/skills/release/SKILL.md
Due: none

Code review
  .github/skills/release/SKILL.md
  .github/skills/release/assets/vcpkgdxtk.cmd
Due: none

More code review
  .github/skills/release/SKILL.md
Due: none

Code review
  .github/skills/release/SKILL.md
Due: none

Add directxtk-usage skill
  .github/skills/directxtk-usage/SKILL.md
  .github/skills/directxtk-usage/reference/overview.md
Due: none

Code review
  .github/skills/directxtk-usage/SKILL.md
Due: none

More feedback
  .github/skills/directxtk-usage/reference/overview.md
Due: none

More review
  .github/skills/directxtk-usage/SKILL.md
Due: none

One more recommendation
  .github/skills/directxtk-usage/reference/overview.md
Due: none

Move usage skill to public location
  .github/copilot-instructions.md
  README.md
  skills/directxtk-usage/SKILL.md
  skills/directxtk-usage/reference/overview.md
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Update readme
  README.md
Due: none

Update YAML front-matter
  skills/directxtk-usage/SKILL.md
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Add tutorial skill
  .gitattributes
  .github/copilot-instructions.md
  skills/directxtk-tutorial/SKILL.md
  skills/directxtk-tutorial/assets/cat.png
  skills/directxtk-tutorial/assets/courier.spritefont
  skills/directxtk-tutorial/reference/nextsteps.md
  skills/directxtk-tutorial/reference/step1.md
  skills/directxtk-tutorial/reference/step2.md
  skills/directxtk-tutorial/reference/step3.md
  skills/directxtk-tutorial/reference/step4.md
  skills/directxtk-tutorial/reference/step5.md
  skills/directxtk-tutorial/reference/step6.md
  skills/directxtk-tutorial/reference/step7.md
  skills/directxtk-tutorial/reference/tutorial-steps.md
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Picked markdown lint
  skills/directxtk-tutorial/SKILL.md
  skills/directxtk-tutorial/reference/step2.md
  skills/directxtk-tutorial/reference/step4.md
  skills/directxtk-tutorial/reference/step6.md
  skills/directxtk-tutorial/reference/step7.md
  skills/directxtk-tutorial/reference/tutorial-steps.md
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Update tutorial
  skills/directxtk-tutorial/SKILL.md
  skills/directxtk-tutorial/reference/step0.md
  skills/directxtk-tutorial/reference/step1.md
  skills/directxtk-tutorial/reference/tutorial-steps.md
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Add CoPilot skills (#642)
  .gitattributes
  .github/copilot-instructions.md
  .github/skills/release/SKILL.md
  .github/skills/release/assets/vcpkgdxtk.cmd
  .gitignore
  README.md
  skills/directxtk-tutorial/SKILL.md
  skills/directxtk-tutorial/assets/cat.png
  skills/directxtk-tutorial/assets/courier.spritefont
  skills/directxtk-tutorial/reference/nextsteps.md
  skills/directxtk-tutorial/reference/step0.md
  skills/directxtk-tutorial/reference/step1.md
  skills/directxtk-tutorial/reference/step2.md
  skills/directxtk-tutorial/reference/step3.md
  skills/directxtk-tutorial/reference/step4.md
  skills/directxtk-tutorial/reference/step5.md
  skills/directxtk-tutorial/reference/step6.md
  skills/directxtk-tutorial/reference/step7.md
  skills/directxtk-tutorial/reference/tutorial-steps.md
  skills/directxtk-usage/SKILL.md
  skills/directxtk-usage/reference/overview.md
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

GetViewportTransform made a public method for SpriteBatch
  Inc/SpriteBatch.h
  Src/SpriteBatch.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Minor code review
  Src/SpriteBatch.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

NPREffect to support cel shading, gooch, etc.
  CMakeLists.txt
  DirectXTK_Desktop_2022.vcxproj
  DirectXTK_Desktop_2022.vcxproj.filters
  DirectXTK_Desktop_2022_Win10.vcxproj
  DirectXTK_Desktop_2022_Win10.vcxproj.filters
  DirectXTK_Desktop_2026.vcxproj
  DirectXTK_Desktop_2026.vcxproj.filters
  DirectXTK_GDKW_2022.vcxproj
  DirectXTK_GDKW_2022.vcxproj.filters
  DirectXTK_GDK_2022.vcxproj
  DirectXTK_GDK_2022.vcxproj.filters
  DirectXTK_Windows10_2022.vcxproj
  DirectXTK_Windows10_2022.vcxproj.filters
  Inc/Effects.h
  Src/NPREffect.cpp
  Src/Shaders/CompileShaders.cmd
  Src/Shaders/NPREffect.fx
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXTK-GitHub.yml

Pick lint
  Inc/Effects.h
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Added missing interface methods
  Inc/Effects.h
  Src/NPREffect.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Suppress C4668 warning with Windows SDK (28000)
  XWBTool/xwbtool.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Suppress C4668 warning with Windows SDK (28000) (#645)
  XWBTool/xwbtool.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Fix warnings when ugpraded to clang 22
  CMakeLists.txt
  Src/PlatformHelpers.h
  Src/pch.h
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

Code review feedback
  Src/PlatformHelpers.h
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Code review
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

Fix warnings when ugpraded to clang 22 (#646)
  CMakeLists.txt
  Src/PlatformHelpers.h
  Src/pch.h
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

MinGW update and pipeline updates
  .azuredevops/pipelines/DirectXTK-GitHub-CMake-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml
  .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml
  .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml
  Audio/AudioEngine.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

Add mingw GHA
  .github/workflows/mingw.yml
  .github/workflows/vcpkg.yml
Due: none

Fix compiler
  .github/workflows/mingw.yml
Due: none

Fix test repo
  .github/workflows/mingw.yml
Due: none

update preset
  CMakePresets.json
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

Trim more redundant pipelines
  .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml

Path conditions:
  .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/*.json, build/*.props, build/*.ps1, build/*.targets
  .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, Src/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, CMakeList.txt, build/*.in, build/*.cmake, build/SetupBWOI.*, Src/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml: any file but: *.md, LICENSE, CMake*, .github, .nuget, build/*.cmake, build/*.cmd, build/*.in, build/*.json, build/*.ps1
  .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/OneFuzz*.json, build/*.props, build/*.ps1, build/*.targets
  .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Test.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, CMake*, build/*.cmake, build/*.in, Inc\SimpleMath.*, Src\SimpleMath.*
  .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml, CMake*, build/*.cmake, build/*.in, Inc\SimpleMath.*, Src\SimpleMath.*
  .azuredevops/pipelines/DirectXTK-GitHub.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub.yml, Src/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTK-SDL.yml: any of: .azuredevops/pipelines/DirectXTK-SDL.yml
