Repository microsoft/DirectXTK: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-Test.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXTK-GitHub.yml, .azuredevops/pipelines/DirectXTK-SDL.yml

.azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml:
  schedules:
  - cron: 0 2 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: DESKTOP_BUILD
    displayName: Windows Desktop
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    strategy:
  ...

.azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml:
  schedules:
  - cron: 30 5 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: BUILD_GDK
    displayName: Microsoft Game Development Kit (GDK)
    timeoutInMinutes: 120
  ...

.azuredevops/pipelines/DirectXTK-GitHub-GDK.yml:
  schedules:
  - cron: 30 5 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2019
  jobs:
  - job: BUILD_GDK
    displayName: Microsoft Game Development Kit (GDK)
    timeoutInMinutes: 120
  ...

.azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml:
  schedules:
  - cron: 30 2 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: DESKTOP_BUILD
    displayName: Windows Desktop
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 1
    workspace:
  ...

.azuredevops/pipelines/DirectXTK-GitHub-Test.yml:
  schedules:
  - cron: 30 2 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: DESKTOP_BUILD
    displayName: Windows Desktop
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    workspace:
  ...

.azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml:
  schedules:
  - cron: 30 3 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: ubuntu-22.04
  jobs:
  - job: BUILD_SIMPLEMATH
    displayName: SimpleMath
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    steps:
  ...

.azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml:
  schedules:
  - cron: 30 3 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: ubuntu-24.04
  jobs:
  - job: BUILD_SIMPLEMATH
    displayName: SimpleMath
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    steps:
  ...

Added /profile option to CMake
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

Add more invalid_argument checks for ctors
  Src/BufferHelpers.cpp
  Src/CommonStates.cpp
  Src/GeometricPrimitive.cpp
  Src/PrimitiveBatch.cpp
  Src/SpriteBatch.cpp
  Src/SpriteFont.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

One more check
  Src/EffectFactory.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Update MinGW timeouts
  .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Code review and CoPilot instructions update (#577)
  .azuredevops/pipelines/DirectXTK-GitHub-CMake-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml
  .azuredevops/pipelines/DirectXTK-OneFuzz-Audio.yml
  .azuredevops/pipelines/DirectXTK-OneFuzz-Meshes.yml
  .azuredevops/pipelines/DirectXTK-OneFuzz.yml
  .github/copilot-instructions.md
  .gitignore
  Audio/SoundCommon.cpp
  CMakeLists.txt
  Inc/Audio.h
  Inc/Keyboard.h
  Src/BufferHelpers.cpp
  Src/CommonStates.cpp
  Src/EffectFactory.cpp
  Src/GeometricPrimitive.cpp
  Src/Keyboard.cpp
  Src/PrimitiveBatch.cpp
  Src/SpriteBatch.cpp
  Src/SpriteFont.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

Upgrade to CMake 3.21
  .github/workflows/bvt.yml
  CMakeLists.txt
  CMakePresets.json
Due: .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

Minor update for tests
  Src/LoaderHelpers.h
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Update CMakepresets
  CMakePresets.json
Due: .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

Update readme
  README.md
Due: none

Fix build berak
  Src/PlatformHelpers.h
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Fix build breaks
  Src/LoaderHelpers.h
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Upgrade to CMake 3.21 (#581)
  .github/workflows/bvt.yml
  CMakeLists.txt
  CMakePresets.json
  README.md
  Src/LoaderHelpers.h
  Src/PlatformHelpers.h
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

GamePadTest updated for GameInput v3
  Inc/GamePad.h
  Inc/Keyboard.h
  Inc/Mouse.h
  Src/GamePad.cpp
  Src/Keyboard.cpp
  Src/Mouse.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Code review feedback
  Src/GamePad.cpp
  Src/Keyboard.cpp
  Src/Mouse.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

GamePad/Keyboard/Mouse updated for GameInput v3 (#584)
  Inc/GamePad.h
  Inc/Keyboard.h
  Inc/Mouse.h
  Src/GamePad.cpp
  Src/Keyboard.cpp
  Src/Mouse.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Code review for invalid args validation
  Audio/DynamicSoundEffectInstance.cpp
  Audio/SoundCommon.cpp
  Audio/SoundCommon.h
  Audio/SoundEffect.cpp
  Audio/WaveBank.cpp
  Audio/WaveBankReader.cpp
  Src/BinaryReader.h
  Src/DGSLEffectFactory.cpp
  Src/GraphicsMemory.cpp
  Src/PBREffectFactory.cpp
  Src/SpriteFont.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Minor readme update
  README.md
Due: none

Code review for invalid args validation (#585)
  Audio/DynamicSoundEffectInstance.cpp
  Audio/SoundCommon.cpp
  Audio/SoundCommon.h
  Audio/SoundEffect.cpp
  Audio/WaveBank.cpp
  Audio/WaveBankReader.cpp
  README.md
  Src/BinaryReader.h
  Src/DGSLEffectFactory.cpp
  Src/GraphicsMemory.cpp
  Src/PBREffectFactory.cpp
  Src/SpriteFont.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

October 27, 2025
  .nuget/directxtk_desktop_2019.nuspec
  .nuget/directxtk_desktop_win10.nuspec
  .nuget/directxtk_uwp.nuspec
  CHANGELOG.md
  README.md
Due: none

October 27, 2025 (#587)
  .nuget/directxtk_desktop_2019.nuspec
  .nuget/directxtk_desktop_win10.nuspec
  .nuget/directxtk_uwp.nuspec
  CHANGELOG.md
  README.md
Due: none

Minor code review feedback from CoPilot
  DirectXTK_Desktop_2019.vcxproj
  DirectXTK_Desktop_2019_Win10.vcxproj
  DirectXTK_Desktop_2022.vcxproj
  DirectXTK_Desktop_2022_Win10.vcxproj
  DirectXTK_GDK_2019.vcxproj
  DirectXTK_GDK_2022.vcxproj
  DirectXTK_Windows10_2022.vcxproj
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Remove ARM64 from VS 2019 projects
  DirectXTK_Desktop_2019_Win10.sln
  DirectXTK_Desktop_2019_Win10.vcxproj
  XWBTool/xwbtool_Desktop_2019.vcxproj
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Remove ToolsVersion in vcxproj which is obsolete since VS 2017
  DirectXTK_Desktop_2019.vcxproj
  DirectXTK_Desktop_2019_Win10.vcxproj
  DirectXTK_Desktop_2022.vcxproj
  DirectXTK_Desktop_2022_Win10.vcxproj
  DirectXTK_GDK_2019.vcxproj
  DirectXTK_GDK_2022.vcxproj
  XWBTool/xwbtool_Desktop_2019.vcxproj
  XWBTool/xwbtool_Desktop_2022.vcxproj
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Ensure -Wmicrosoft-cast is ignored
  Src/GamePad.cpp
  Src/Keyboard.cpp
  Src/Mouse.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Removed ARM64 from VS 2019 projects (#588)
  DirectXTK_Desktop_2019.vcxproj
  DirectXTK_Desktop_2019_Win10.sln
  DirectXTK_Desktop_2019_Win10.vcxproj
  DirectXTK_Desktop_2022.vcxproj
  DirectXTK_Desktop_2022_Win10.vcxproj
  DirectXTK_GDK_2019.vcxproj
  DirectXTK_GDK_2022.vcxproj
  DirectXTK_Windows10_2022.vcxproj
  Src/GamePad.cpp
  Src/Keyboard.cpp
  Src/Mouse.cpp
  XWBTool/xwbtool_Desktop_2019.vcxproj
  XWBTool/xwbtool_Desktop_2022.vcxproj
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

CMake build options improvements
  CMakeLists.txt
  CMakePresets.json
Due: .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

Code review feedback
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

Code review
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

CMake build options improvements (#593)
  CMakeLists.txt
  CMakePresets.json
Due: .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

Ensure projects using NuGet packages select correct input implementation
  .nuget/directxtk_desktop_2019.targets
  .nuget/directxtk_desktop_win10.targets
  .nuget/directxtk_uwp.targets
Due: none

Ensure projects using NuGet packages select correct input implementation (#594)
  .nuget/directxtk_desktop_2019.targets
  .nuget/directxtk_desktop_win10.targets
  .nuget/directxtk_uwp.targets
Due: none

Use 8.3.2 instead
  .github/workflows/lint.yml
Due: none

YAML lint
  .github/workflows/lint.yml
Due: none

CMakePresets code reveiw
  CMakePresets.json
Due: .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

JSON format reformat
  CMakePresets.json
Due: .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

Add helper scripts
  .gitignore
  build/downloadbuild.ps1
  build/promotenuget.ps1
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml

Added some helper scripts (#601)
  .gitignore
  CMakePresets.json
  build/downloadbuild.ps1
  build/promotenuget.ps1
Due: .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

Update GHA that use VCPKG to support workflow trigger
  .github/workflows/vcpkg.yml
Due: none

Update GHA that use VCPKG to support workflow trigger (#602)
  .github/workflows/vcpkg.yml
Due: none

Path conditions:
  .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, Src/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, CMakeList.txt, build/*.in, build/*.cmake, build/SetupBWOI.*, Src/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml: any file but: *.md, LICENSE, CMake*, .github, .nuget, build/*.cmake, build/*.cmd, build/*.in, build/*.json, build/*.ps1
  .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Test.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, CMake*, build/*.cmake, build/*.in, Inc\SimpleMath.*, Src\SimpleMath.*
  .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml, CMake*, build/*.cmake, build/*.in, Inc\SimpleMath.*, Src\SimpleMath.*
  .azuredevops/pipelines/DirectXTK-GitHub.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub.yml, Src/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTK-SDL.yml: any of: .azuredevops/pipelines/DirectXTK-SDL.yml
