Repository microsoft/DirectXTK: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-Test.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXTK-GitHub.yml, .azuredevops/pipelines/DirectXTK-SDL.yml

.azuredevops/pipelines/DirectXTK-GitHub-CMake.yml:
  schedules:
  - cron: 0 4 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: CMAKE_BUILD
    displayName: CMake using VS Generator
    steps:
    - checkout: self
      clean: true
  ...

.azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml:
  schedules:
  - cron: 0 2 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: DESKTOP_BUILD
    displayName: Windows Desktop
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    strategy:
  ...

.azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml:
  schedules:
  - cron: 30 5 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: BUILD_GDK
    displayName: Microsoft Game Development Kit (GDK)
    timeoutInMinutes: 120
  ...

.azuredevops/pipelines/DirectXTK-GitHub-GDK.yml:
  schedules:
  - cron: 30 5 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2019
  jobs:
  - job: BUILD_GDK
    displayName: Microsoft Game Development Kit (GDK)
    timeoutInMinutes: 120
  ...

.azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml:
  schedules:
  - cron: 0 3 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: MINGW32_BUILD
    displayName: Minimalist GNU for Windows (MinGW32)
    timeoutInMinutes: 30
    steps:
  ...

.azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml:
  schedules:
  - cron: 30 2 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: DESKTOP_BUILD
    displayName: Windows Desktop
    timeoutInMinutes: 60
    cancelTimeoutInMinutes: 1
    workspace:
  ...

.azuredevops/pipelines/DirectXTK-GitHub-Test.yml:
  schedules:
  - cron: 30 2 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2022
  jobs:
  - job: DESKTOP_BUILD
    displayName: Windows Desktop
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    workspace:
  ...

.azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml:
  schedules:
  - cron: 30 3 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: ubuntu-22.04
  jobs:
  - job: BUILD_SIMPLEMATH
    displayName: SimpleMath
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    steps:
  ...

Build UWP tests
  .github/workflows/testuwp.yml
Due: none

try to remove warning
  .github/workflows/testuwp.yml
Due: none

Update MinGW GitHub action to cover more compiler versions
  .github/workflows/mingw.yml
  README.md
Due: none

Update readme
  README.md
Due: none

Pick lint
  .github/workflows/mingw.yml
Due: none

Update MinGW GitHub action to cover more compiler versions (#653)
  .github/workflows/mingw.yml
  README.md
Due: none

NPREffect to support cel shading, gooch, etc.
  CMakeLists.txt
  DirectXTK_Desktop_2022.vcxproj
  DirectXTK_Desktop_2022.vcxproj.filters
  DirectXTK_Desktop_2022_Win10.vcxproj
  DirectXTK_Desktop_2022_Win10.vcxproj.filters
  DirectXTK_Desktop_2026.vcxproj
  DirectXTK_Desktop_2026.vcxproj.filters
  DirectXTK_GDKW_2022.vcxproj
  DirectXTK_GDKW_2022.vcxproj.filters
  DirectXTK_GDK_2022.vcxproj
  DirectXTK_GDK_2022.vcxproj.filters
  DirectXTK_Windows10_2022.vcxproj
  DirectXTK_Windows10_2022.vcxproj.filters
  Inc/Effects.h
  Src/NPREffect.cpp
  Src/Shaders/CompileShaders.cmd
  Src/Shaders/NPREffect.fx
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXTK-GitHub.yml

Added missing interface methods
  Inc/Effects.h
  Src/NPREffect.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Pick lint
  Inc/Effects.h
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Add texture support to NPREffect
  Inc/Effects.h
  Src/NPREffect.cpp
  Src/Shaders/CompileShaders.cmd
  Src/Shaders/NPREffect.fx
  Src/Shaders/Structures.fxh
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub.yml

Fix eye position update
  Src/NPREffect.cpp
  Src/Shaders/NPREffect.fx
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Specular smoothing and rimlighting
  Inc/Effects.h
  Src/NPREffect.cpp
  Src/Shaders/NPREffect.fx
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Code review
  Src/NPREffect.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Fix alpha
  Src/Shaders/NPREffect.fx
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Code review
  Inc/Effects.h
  Src/NPREffect.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

More code review
  Inc/Effects.h
  Src/NPREffect.cpp
  Src/Shaders/NPREffect.fx
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Update copilot instr
  .github/copilot-instructions.md
Due: none

NPREffect does not require SM4
  Src/Shaders/CompileShaders.cmd
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub.yml

Add MatCap shading
  Inc/Effects.h
  Src/NPREffect.cpp
  Src/Shaders/CompileShaders.cmd
  Src/Shaders/NPREffect.fx
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub.yml

Code review
  Src/DebugEffect.cpp
  Src/EffectCommon.cpp
  Src/EffectCommon.h
  Src/NPREffect.cpp
  Src/PBREffect.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Adds NPREffect to library (#644)
  .github/copilot-instructions.md
  CMakeLists.txt
  DirectXTK_Desktop_2022.vcxproj
  DirectXTK_Desktop_2022.vcxproj.filters
  DirectXTK_Desktop_2022_Win10.vcxproj
  DirectXTK_Desktop_2022_Win10.vcxproj.filters
  DirectXTK_Desktop_2026.vcxproj
  DirectXTK_Desktop_2026.vcxproj.filters
  DirectXTK_GDKW_2022.vcxproj
  DirectXTK_GDKW_2022.vcxproj.filters
  DirectXTK_GDK_2022.vcxproj
  DirectXTK_GDK_2022.vcxproj.filters
  DirectXTK_Windows10_2022.vcxproj
  DirectXTK_Windows10_2022.vcxproj.filters
  Inc/Effects.h
  Src/DebugEffect.cpp
  Src/EffectCommon.cpp
  Src/EffectCommon.h
  Src/NPREffect.cpp
  Src/PBREffect.cpp
  Src/Shaders/CompileShaders.cmd
  Src/Shaders/NPREffect.fx
  Src/Shaders/Structures.fxh
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXTK-GitHub.yml

Add SkinnedNPREffect
  Inc/Effects.h
  Src/NPREffect.cpp
  Src/Shaders/CompileShaders.cmd
  Src/Shaders/NPREffect.fx
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub.yml

Code review
  Inc/Effects.h
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Unbreak
  Inc/Effects.h
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Fix shader mapping
  Src/NPREffect.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Add NPREffectFactory
  CMakeLists.txt
  DirectXTK_Desktop_2022.vcxproj
  DirectXTK_Desktop_2022.vcxproj.filters
  DirectXTK_Desktop_2022_Win10.vcxproj
  DirectXTK_Desktop_2022_Win10.vcxproj.filters
  DirectXTK_Desktop_2026.slnx
  DirectXTK_Desktop_2026.vcxproj
  DirectXTK_Desktop_2026.vcxproj.filters
  DirectXTK_GDKW_2022.vcxproj
  DirectXTK_GDKW_2022.vcxproj.filters
  DirectXTK_GDK_2022.vcxproj
  DirectXTK_GDK_2022.vcxproj.filters
  DirectXTK_Windows10_2022.vcxproj
  DirectXTK_Windows10_2022.vcxproj.filters
  Inc/Effects.h
  Src/DGSLEffectFactory.cpp
  Src/NPREffect.cpp
  Src/NPREffectFactory.cpp
  Src/PBREffectFactory.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

Minor fix for DLL durango Cmake
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

Retire support for Direct3D 9.x Feature Levels
  README.md
  Src/BasicPostProcess.cpp
  Src/DDSTextureLoader.cpp
  Src/DGSLEffectFactory.cpp
  Src/DebugEffect.cpp
  Src/DualPostProcess.cpp
  Src/EffectCommon.h
  Src/EffectFactory.cpp
  Src/EnvironmentMapEffect.cpp
  Src/GraphicsMemory.cpp
  Src/NormalMapEffect.cpp
  Src/PBREffect.cpp
  Src/Shaders/CompileShaders.cmd
  Src/SpriteBatch.cpp
  Src/ToneMapPostProcess.cpp
  Src/WICTextureLoader.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub.yml

Migrate all VS solutions to slnx
  .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml
  .azuredevops/templates/DirectXTK-build-uwp-arm64.yml
  .azuredevops/templates/DirectXTK-build-uwp.yml
  .azuredevops/templates/DirectXTK-build-win32.yml
  .github/workflows/msbuild.yml
  .github/workflows/testuwp.yml
  DirectXTK_Desktop_2022.sln
  DirectXTK_Desktop_2022.slnx
  DirectXTK_Desktop_2022_Win10.sln
  DirectXTK_Desktop_2022_Win10.slnx
  DirectXTK_GDKW_2022.sln
  DirectXTK_GDKW_2022.slnx
  DirectXTK_GDK_2022.sln
  DirectXTK_GDK_2022.slnx
  DirectXTK_Windows10_2022.sln
  DirectXTK_Windows10_2022.slnx
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Add default startup
  DirectXTK_Desktop_2022.slnx
  DirectXTK_Desktop_2022_Win10.slnx
  DirectXTK_Desktop_2026.slnx
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Use an absolute path for CompileShaders.cmd
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

Pin GitHub Actions to full-length commit SHAs
  .github/dependabot.yml
Due: none

Pin GitHub Actions to full-length commit SHAs (#665)
  .github/dependabot.yml
Due: none

Use an absolute path for CompileShaders.cmd (#660)
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml

Retire support for Direct3D 9.x Feature Levels (#658)
  README.md
  Src/BasicPostProcess.cpp
  Src/DDSTextureLoader.cpp
  Src/DGSLEffectFactory.cpp
  Src/DebugEffect.cpp
  Src/DualPostProcess.cpp
  Src/EffectCommon.h
  Src/EffectFactory.cpp
  Src/EnvironmentMapEffect.cpp
  Src/GraphicsMemory.cpp
  Src/NormalMapEffect.cpp
  Src/PBREffect.cpp
  Src/Shaders/CompileShaders.cmd
  Src/SpriteBatch.cpp
  Src/ToneMapPostProcess.cpp
  Src/WICTextureLoader.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub.yml

Migrate all VS solutions to slnx (#659)
  .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml
  .azuredevops/templates/DirectXTK-build-uwp-arm64.yml
  .azuredevops/templates/DirectXTK-build-uwp.yml
  .azuredevops/templates/DirectXTK-build-win32.yml
  .github/workflows/msbuild.yml
  .github/workflows/testuwp.yml
  DirectXTK_Desktop_2022.sln
  DirectXTK_Desktop_2022.slnx
  DirectXTK_Desktop_2022_Win10.sln
  DirectXTK_Desktop_2022_Win10.slnx
  DirectXTK_GDKW_2022.sln
  DirectXTK_GDKW_2022.slnx
  DirectXTK_GDK_2022.sln
  DirectXTK_GDK_2022.slnx
  DirectXTK_Windows10_2022.sln
  DirectXTK_Windows10_2022.slnx
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Add SkinnedNPREffect (#655)
  CMakeLists.txt
  DirectXTK_Desktop_2022.vcxproj
  DirectXTK_Desktop_2022.vcxproj.filters
  DirectXTK_Desktop_2022_Win10.vcxproj
  DirectXTK_Desktop_2022_Win10.vcxproj.filters
  DirectXTK_Desktop_2026.vcxproj
  DirectXTK_Desktop_2026.vcxproj.filters
  DirectXTK_GDKW_2022.vcxproj
  DirectXTK_GDKW_2022.vcxproj.filters
  DirectXTK_GDK_2022.vcxproj
  DirectXTK_GDK_2022.vcxproj.filters
  DirectXTK_Windows10_2022.vcxproj
  DirectXTK_Windows10_2022.vcxproj.filters
  Inc/Effects.h
  Src/DGSLEffectFactory.cpp
  Src/NPREffect.cpp
  Src/NPREffectFactory.cpp
  Src/PBREffectFactory.cpp
  Src/Shaders/CompileShaders.cmd
  Src/Shaders/NPREffect.fx
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXTK-GitHub.yml

Fix issue with clang build
  Inc/Effects.h
  Src/NPREffect.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Fix issue with clang build (#667)
  Inc/Effects.h
  Src/NPREffect.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Validate seek table bounds in WaveBankReader
  Audio/WaveBankReader.cpp
Due: .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml, .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml, .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml

Path conditions:
  .azuredevops/pipelines/DirectXTK-GitHub-CMake.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/*.json, build/*.props, build/*.ps1, build/*.targets
  .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-Dev17.yml, Src/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-GDK-Dev17.yml, CMakeList.txt, build/*.in, build/*.cmake, build/SetupBWOI.*, Src/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTK-GitHub-GDK.yml: any file but: *.md, LICENSE, CMake*, .github, .nuget, build/*.cmake, build/*.cmd, build/*.in, build/*.json, build/*.ps1
  .azuredevops/pipelines/DirectXTK-GitHub-MinGW.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/OneFuzz*.json, build/*.props, build/*.ps1, build/*.targets
  .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXTK-GitHub-Test.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-Test.yml
  .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-WSL-11.yml, CMake*, build/*.cmake, build/*.in, Inc\SimpleMath.*, Src\SimpleMath.*
  .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub-WSL-13.yml, CMake*, build/*.cmake, build/*.in, Inc\SimpleMath.*, Src\SimpleMath.*
  .azuredevops/pipelines/DirectXTK-GitHub.yml: any of: .azuredevops/pipelines/DirectXTK-GitHub.yml, Src/Shaders/CompileShaders.cmd
  .azuredevops/pipelines/DirectXTK-SDL.yml: any of: .azuredevops/pipelines/DirectXTK-SDL.yml
